@import "../../scss/constants";
@import "../../scss/utilities";

.Container {
  padding-top: 50px;
  height: 100%;

  @include for-phone-and-tab {
    padding: 50px 25px;
  }

  .Header {
    @extend %CenterV;
    flex-direction: column;
    margin-bottom: 10px;

    img {
      height: 120px;
      width: 120px;
      border-radius: 50%;
    }

    .TitleSection {
      margin-left: 10px;

      .CharacterTitle,
      .CharacterSubTitle {
        font-family: $font-family-primary;
        margin: 0;
        text-align: center;
      }

      .CharacterTitle {
        margin-top: 10px;
        font-size: 24px;
        font-weight: 800;
      }
      .CharacterSubTitle {
        font-size: 14px;
        color: $grey-v3;
        font-weight: 600;

        .Dot {
          margin: 0 6px;
          color: $grey-v4;
          display: inline-block;
          font-size: 18px;
        }
      }
    }
  }

  .EpisodeList {
    height: calc(100% - 231px);
    overflow-y: auto;
  }
}
